<nav
  class="main-navigation"
  id="mobile-navigation"
  aria-label="Основная навигация"
>
  <ul class="main-navigation__list">
    <li class="main-navigation__item main-navigation__item--home">
      <a
        href="#"
        data-root-path="index.html"
        data-page-link="home"
      >
        Главная
      </a>
    </li>

    <li class="main-navigation__item main-navigation__item--about has-submenu">
      <div class="main-navigation__item-row">
        <a
          href="#"
          data-root-path="about/"
          data-page-link="about"
        >
          О театре
        </a>

        <button
          class="submenu-toggle"
          type="button"
          aria-label="Открыть подразделы «О театре»"
          aria-expanded="false"
          aria-controls="submenu-about"
        >
          <span aria-hidden="true">⌄</span>
        </button>
      </div>

      <ul class="submenu" id="submenu-about">
        <li>
          <a href="#" data-root-path="about/news.html">Новости</a>
        </li>
        <li>
          <a href="#" data-root-path="about/reviews.html">Отзывы</a>
        </li>
      </ul>
    </li>

    <li class="main-navigation__item main-navigation__item--afisha">
      <a
        href="#"
        data-root-path="afisha.html"
        data-page-link="afisha"
      >
        Афиша
      </a>
    </li>

    <li class="main-navigation__item main-navigation__item--club">
      <a href="#" data-root-path="club/">
        Клуб друзей
      </a>
    </li>

    <li class="main-navigation__item main-navigation__item--people has-submenu">
      <div class="main-navigation__item-row">
        <a
          href="#"
          class="main-navigation__item-link"
          aria-disabled="true"
          tabindex="-1"
        >
          Люди театра
        </a>

        <button
          class="submenu-toggle"
          type="button"
          aria-label="Открыть подразделы «Люди театра»"
          aria-expanded="false"
          aria-controls="submenu-people"
        >
          <span aria-hidden="true">⌄</span>
        </button>
      </div>

      <ul class="submenu" id="submenu-people">
        <li>
          <a href="#" data-root-path="people/management/">
            Руководство
          </a>
        </li>
        <li>
          <a href="#" data-root-path="people/troupe/">
            Труппа
          </a>
        </li>
        <li>
          <a href="#" data-root-path="people/production-team/">
            Постановочная часть
          </a>
        </li>
      </ul>
    </li>

    <li class="main-navigation__item main-navigation__item--repertoire has-submenu">
      <div class="main-navigation__item-row">
        <a href="#" data-root-path="repertoire/" data-page-link="repertoire">
          Репертуар
        </a>

        <button
          class="submenu-toggle"
          type="button"
          aria-label="Открыть подразделы «Репертуар»"
          aria-expanded="false"
          aria-controls="submenu-repertoire"
        >
          <span aria-hidden="true">⌄</span>
        </button>
      </div>

      <ul class="submenu submenu--repertoire" id="submenu-repertoire">
        <li>
          <a href="#" data-root-path="repertoire/hero-of-our-time.html">
            Герой нашего времени?
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/hamlet-illusions.html">
            Гамлет
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/cherry-orchard.html">
            Вишнёвый сад
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/mansion.html">
            Особняк. От мистики до реальности
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/notes-of-a-madman.html">
            Записки сумасшедшего
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/queens-gambit.html">
            Королевский гамбит
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/sherlock-holmes.html">
            Шерлок Холмс
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/karamazovy.html">
            Карамазовы
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/raskolnikov.html">
            Раскольников. Между тьмой и светом
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/evenings-dikanka.html">
            Вечера на хуторе близ Диканьки
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/lev-tolstoy.html">
            Лев Толстой. Повесть
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/idiot.html">
            Идиот
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/twelve-chairs.html">
            12 стульев
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/pushkin-tragedies.html">
            Немаленькие трагедии Пушкина
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/esenin.html">
            Есенин. Русь бесприютная
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/reading-room.html">
            Читальня. Начало
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/little-prince.html">
            Маленький принц
          </a>
        </li>
        <li>
          <a href="#" data-root-path="repertoire/don-quixote.html">
            Дети Дон Кихота
          </a>
        </li>
      </ul>
    </li>

    <li class="main-navigation__item main-navigation__item--contacts">
      <a href="#contacts" data-root-path="index.html#contacts">
        Контакты
      </a>
    </li>
  </ul>
</nav>